.chat-message{
    padding: 5px 15px;
    word-wrap: break-word;
}
.chat-message:hover{
    background-color: #434857;
}

.chat-message .msg-content{
    padding-left: 15px;
    color: #cfd2da;
}
.chat-message .msg-poster{
    font-weight: bold;
}

.chat-message .msg-timestamp{
    color: #e0e0e0;
    font-size: 12px;
    padding-left: 10px;
}

.chat-message:hover .msg-timestamp{
    color: #a0a0a0;

}