#main-content {
    padding-top: 56px;
    box-sizing: border-box;
    height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button[type="submit"] {
  margin-top: 10px;
}

#chat-page{
    height: 100%;
}

#chat-page .left-rail{
    background-color: #e0e0e0;
}
#chat-page .left-rail .user-list{
    margin: 10px 10px;
    border: 1px solid black;
}

#chat-page #chat-window{
    background-color: #a0a0a0;
}

#chat-page #chat-window #msg-input{
    border: 1px solid black;
    width: 90%;
    position: absolute;
    bottom: 10px;
    background-color: white;
}
#chat-page #chat-window #msg-input form{
    margin-bottom: 0px;
}
#chat-page #chat-window #msg-input #msg-text{
    width: 90%;
    background-color: transparent;
}

#chat-page #chat-window #msg-container{
    height: calc(100% - 70px);
    overflow: auto;
}