body{
    font-family: helvetica;
    color: #fff;
}
#main-content {
    padding-top: 56px;
    box-sizing: border-box;
    height: 100%;
    background-color: #252830;
}

.loader-div{
    display: inline-block;
    height: 20px;
    position: absolute;
    padding-left: 10px;
}
.loader{
    display: inline-block;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin .8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button[type="submit"] {
  margin-top: 10px;
}

.blur{
    filter: blur(2px);
}


#main-content .alert{
    position: absolute;
    z-index: 1000;
    width: 50%;
    left: 0;
    margin-left: auto;
    right: 0;
    margin-right: auto;
    text-align: center;
}

#chat-page{
    height: 100%;
    margin-right: 0;
}

#chat-page #left-rail{
    height: 100%;
    padding-right: 0;
    border-right: 1px solid #434857;
}
#chat-page #left-rail .user-list{
    margin: 10px 10px;
    border: 1px solid black;
}

#chat-page #left-rail .list h3{
    position: absolute;
}

#chat-page #left-rail .list .list-content{
    margin-top: 35px;
    padding-left: 10px;
    height: calc(100% - 35px);
    overflow: auto;
}

#chat-page #chat-window{
    padding-left: 0;
    padding-right: 0;
}

#chat-page #chat-window #msg-input{
    width: 98%;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#chat-page #chat-window #msg-input form{
    margin-bottom: 0px;
    color: white;
}
#chat-page #chat-window #msg-input #msg-text{
    width: 90%;
    background-color: #434857;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#chat-page #chat-window #msg-input #msg-text:focus{
    color: #555;
    background-color: #fff;
    border-color: #fff;
    outline: none;
}

#chat-page #chat-window #msg-container{
    height: calc(100% - 47px);
    overflow: auto;
}

#chat-page #chat-window #msg-container .msg-item:last-child{
    margin-bottom: 10px;
}

#chat-page #channel-list-container{
    height: 20%;
}
#chat-page #user-list-container{
    height: 78%;
}