<div id="login-alert" class="alert alert-danger" role="alert" ng-if="!chat.currentUser.user">
    Please login or signup!
</div>
<div id='chat-page' class="row" ng-class="{'blur' : !chat.currentUser.user}">
    <div id="left-rail" class="col-md-2">
        <div id="channel-list-container" class="p-2 list">
            <h3>Channels</h3>
            <div id="channel-list" class="list-content" >
                <div class="chat-group" ng-repeat="group in chat.currentUser.user.groups" ng-bind="group.group_name"></div>
            </div>
        </div>
        <div id="user-list-container" class="p-2 list">
            <h3>Members</h3>
            <div id="user-list" class="list-content">
                <div ng-repeat="user in chat.currentUser.user.activeGroup.members | orderBy: 'username'" ng-bind="user.username"></div>
            </div>
        </div>

    </div>
    <div id="chat-window" class="col-md-10">
        <div id="new-message-alert" class="alert alert-info" role="alert" ng-show="chat.newUnreadMessages && !chat.loadingMessages">
            You have new messages below! {[chat.newUnreadMessages]}<a ng-click="chat.scrollToBottom()"> Click here to view</a>
        </div>
        <div id="loading-message-alert" class="alert alert-info" role="alert" ng-show="chat.loadingMessages">
            Loading previous messages
            <div class="loader-div">
                <div class="loader"></div>
            </div>
        </div>
        <div id="msg-container">
            <div class="msg-item" ng-repeat="msg in chat.currentUser.user.activeGroup.messages">
                <chat-message message="msg"></chat-message>
            </div>
        </div>
        <div id="msg-input">
            <form ng-submit="chat.postMsg($event)" class="form-inline">
                <input ng-model="chat.msg" class="form-control mr-sm-2" id="msg-text" autocomplete="off">
                <button class="btn btn-outline-success my-2 my-sm-0">send</button>
            </form>
        </div>
    </div>
</div>