<div id='chat-page' class="row">
    <div class="left-rail col-md-3">
        <div id="Chanel-list">
            <h3>Channels</h3>
            <div class="chat-group" ng-repeat="group in chat.currentUser.user.groups" ng-bind="group.group_name"></div>
        </div>
        <div id="user-list">
            <h3>Members</h3>
            <div ng-repeat="user in chat.currentUser.user.activeGroup.members" ng-bind="user.username"></div>
        </div>

    </div>
    <div id="chat-window" class="col-md-9">
        <div id="msg-container">
            <div ng-repeat="msg in chat.currentUser.user.activeGroup.messages">
                <div>
                    <span class="msg-poster" ng-bind="msg.username"></span>
                    <span class="msg-timestamp" ng-bind="chat.getTimeStamp(msg.created_when)"></span>
                </div>
                <div class="msg-content" ng-bind="msg.message">

                </div>
            </div>
        </div>
        <div id="msg-input">
            <form ng-submit="chat.postMsg($event)" class="form-inline">
                <input ng-model="chat.msg" class="form-control mr-sm-2" id="msg-text" autocomplete="off">
                <button class="btn btn-outline-success my-2 my-sm-0">send</button>
            </form>
        </div>
    </div>
</div>